{% for item in products %}
<div class="col-sm-3">
  <div class="card mb-3">
    {% if item.cover_image %}
    <img src="{{ item.cover_image.url }}" alt="Card image" class="w-100">
    {% endif %}
    <div class="card-body">
      <p class="card-title"><h2>{{ item.title }}</h2></p>
      <p class="card-text"><strong>Açıklama : </strong>{{ item.content }}</p>
    </div>
    
    <div class="card-body">
      <a href="#" class="card-link">Price : {{ item.price }}</a>
      <a href="#" class="card-link">Stock : {{ item.stock }}</a>
    </div>
    <div class="card-body"><a href="" class="btn btn-primary">Add To Basket</a></div>
  </div>
</div>

{% endfor %}